* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Gilroy-Bold';
    src: url(font/Gilroy-Bold.ttf);
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: url(font/Gilroy-Medium.ttf);
}
.header-part {
    background-color: #fff ;
    width: 100%;
    max-width: 1920px;
    height: 88px;
    padding-top: 33px;
    box-sizing: border-box;
}
.container {
    width: 945px;
    display: flex;
    margin: 0 auto;
}
.header-container-top {
    flex-direction: column;
}
.header-list {
    display: flex;
    list-style-type: none;
}
.header-list-mini {
    margin-right: 155px;
}
.header-link-first {
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    text-decoration: none;
}
.header-link {
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    text-decoration: none;
}
.header-line {
    margin-top: 30px;
    border: 1px solid #828282;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.top-part {
    height: 680px;
    width: 100%;
    max-width: 1920px;
    padding-top: 40px;
    box-sizing: border-box;
}
.top-part-container {
    flex-direction: column;
}
.media-part {
    display: flex;
    width: 316px;
}
.media-button {
    display: none;
    border: none;
    width: 33px;
    height: 19.19px;
    background-image: url(img/Group3.svg);
}
.media-form {
    display: none;
    padding-top: 15px;
    margin-left: 128px;
}

.top-part-description {
    display: flex;
    margin-bottom: 30px;
}
.top-part-header {
    font-family: 'Gilroy-Bold';
    font-size: 47.3392px;
    line-height: 59px;

    /* Black */

    color: #070707;
    margin-right: 298px;
}
.top-part-text {
    padding-top: 67px;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;

    /* Black */

    color: #070707;
    margin-right: 350px;
    min-width: 155px
}
.top-part-text-transform {
    font-family: 'Gilroy-Bold';
    font-size: 16px;
    line-height: 20px;

    color: #070707;

    transform: rotate(-90deg);
    padding-right: 32px;
    min-width: 65px;
    
}
.top-part-text-transform-first {
    color: #828282;
}
.top-part-image {
    margin: 0 auto;
    width: 944px;
    height: 387px;
    background-image: url(img/BSPP2266.png);
}
.part-information {
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    height: 506px;
    padding-top: 120px;
    box-sizing: border-box;
    background: #F6F6F6;
}
.part-information-container {
    flex-direction: column;
}
.part-informatio-header {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;

    /* Black */

    color: #070707;
    margin: 0 auto;
    margin-bottom: 20px;
}
.part-information-text {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    /* Black */

    color: #070707;
    margin: 0 auto;
    margin-bottom: 37px;
}
.part-information-text:last-child {
    margin-bottom: 0px;
}
.skills-part {
    width: 100%;
    max-width: 1920px;
    height: 610px;
    padding-top: 91px;
    box-sizing: border-box;
    /*display: flex;
    flex-direction: column;*/
}
.skills-container {
    flex-direction: column;
}
.skills-header{
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;

    /* Black */

    color: #070707;
    margin-bottom: 70px;
}
.skills-text {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    /* Black */

    color: #070707;
    margin-bottom: 84px;

}
.skills-list {
    display: flex;
    list-style-type: none;
}
.skills-list-mini {
    width: 166px;
    margin-right: 94px;
    display: flex;
    flex-direction: column;
}
.skills-list-mini-svg {
    padding-bottom: 24px;
    margin: 0 auto;
}
.skills-list-mini-text {
    font-size: 14px;
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #828282;
    margin-bottom: 40px;
}
.skills-list-mini-text-small {
    margin-bottom: 57px;
}
.skills-stars {
    display: flex;
    list-style-type: none;
    margin: 0 auto;
}
.skills-stars-mini {
    margin-right: 10px;
}
.skills-stars-mini-last {
    margin-right: 0px;
}
.skills-star-style {
    fill: #070707;
}
.skills-star-mini-empty {
    fill: #E5E5E5;
}
.skills-list-mini:last-child {
    margin-right: 0px;
}
.portfolio-part {
    width: 100%;
    max-width: 1920px;
    height: 2253px;
    padding-top: 113px;
    box-sizing: border-box;
    background: #F6F6F6;
}
.portfolio-container {
    flex-direction: column;
}
.portfolio-header {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;

    /* Black */

    color: #070707;
    margin-bottom: 47px;
}
.portfolio-list {
    list-style-type: none;
}
.portfolio-list-mini {
    display: flex;
    flex-direction: column;
    margin-bottom: 99px;
}
.portfolio-list-img {
    margin-bottom: 45px;
}
.portfolio-list-link {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;

    /* Black */

    color: #070707;
}
.footer-part {
    height: 622px;
    padding-top: 114px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1920px;
}
.footer-container {
    flex-direction: column;
}
.footer-header {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;

    /* Black */

    color: #070707;
    margin-bottom: 30px;
}
.footer-text {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
    margin-bottom: 30px;
}
.footer-button {
    background: #070707;
    height: 42px;
    width: 180px;
    border: none;
    border-radius: 25px;
    margin: 0 auto;
    margin-bottom: 86px;
}
.footer-button-text {
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}
.footer-link-list {
    list-style-type: none;
    display: flex;
    margin: 0 auto;
    margin-bottom: 46px;
}
.footer-link-list-mini {
    margin-right: 61px;
}
.footer-link-list-mini-last {
    margin-right: 0px;
}
.footer-link-social-network {
    font-family: 'Gilroy-Medium';
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #828282;
}
@media (max-width:944px) and (min-width: 375px) {
    .container {
        width: 316px;
    }
    .header-part {
        height: 0px;
        padding-top: 0px;
    }
    .header-list {
        display: none;
    }
    .header-line {
        display: none;
    }
    .top-part {
        padding-top: 65px;
        height: 836px;
    }
    .top-part-header {
        margin-right: 0px;
    }
    .top-part-description {
        flex-direction: column;
        margin-bottom: 37px;
    }
    .top-part-text-transform {
        display: none;
    }
    .top-part-text {
        padding-top: 23px;
        margin-right: 0px;
    }
    .top-part-image {
        width: 316.5px;
        height: 478px;
        background-image: url(img/BSPP2266\(1\).png);
    }
    .skills-part {
        height: 1421px;
        padding-top: 83px;
    }
    .skills-list {
        flex-direction: column;
    }
    .skills-list-mini {
        margin-right: 0px;
        margin: 0 auto;
        padding-bottom: 81px;
    }
    .skills-list-mini:last-child {
        margin-right: auto;
        padding-bottom: 0;
    }
    .portfolio-part {
        height: 1118px;
    }
    .footer-link-list-mini {
        margin-right: 51px;
    }
    .footer-link-list-mini-last {
        margin-right: 0;
    }
    .media-button {
        display: block;
    }
    .media-form {
        display: block;
    }
    .media-button:active {
        background-image: url(img/group5.svg);
    }
    
}
